.c-calendar {
  width: 824px;
  margin-right: auto;
  margin-left: auto;
  padding: 24px 16px;
  border-radius: 1rem;
  background-color: #FFF;

  &-inner {
    display: grid;
    grid-template-columns: 66px 1fr;
    width: 100%;
    border-top: solid 1px var(--calendar_border);
    border-right: solid 1px var(--calendar_border);
    border-left: solid 1px var(--calendar_border);

    & + & {
      border-top: solid 2px var(--calendar_border_adjoin);
    }
  }

  &-select {
    margin-bottom: 16px;
    &__list {
      width: 92px;
      height: 30px;
      padding: 0 15px;
      border: solid 1px var(--calendar_border);
      border-radius: .5rem;
      font-size: 1.4rem;
    }
  }

  &-month {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    border-right: solid 1px var(--calendar_border);
    border-bottom: solid 1px var(--calendar_border);
    font-size: 2.4rem;
  }

  &-tbl {
    grid-row: 1/2;
    grid-column: 2/3;
    border-spacing: 0;

    &__cell {
      height: 86px;
      padding: 4px;
      border-bottom: solid 1px var(--calendar_border);
      border-left: solid 1px var(--calendar_border);
      vertical-align: top;
      &:first-child {
        border-left: unset;
      }
      &.--sun {
        background-color: var(--calendar_cel_sun);
      }
      &.--sat {
        background-color: var(--calendar_cel_sat);
      }
      &.atDay,
      &.targetDay {
        position: relative;
        background-color: var(--calendar_cel_apply);
        &::before {
          position: absolute;
          top: 0;
          left: -1px;
          width: 1px;
          height: 100%;
          background-color: var(--calendar_cel_apply);
          z-index: 3;
          content: '';
        }
      }
      &.startDay {
        position: relative;
        background-color: #FFF;
        .handle {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          border-radius: 2rem 0 0 2rem;
          background-color: var(--calendar_cel_apply);
          cursor: pointer;
        }
        &::before {
          background-color: unset;
        }
        &.--sun {
          background-color: var(--calendar_cel_sun);
        }
        &.--sat {
          background-color: var(--calendar_cel_sat);
        }
      }
      &.endDay {
        position: relative;
        background-color: #FFF;
        .handle {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          border-radius: 0 2rem 2rem 0;
          background-color: var(--calendar_cel_apply);
          cursor: pointer;
        }
        &::before {
          position: absolute;
          top: 0;
          left: -1px;
          width: 1px;
          height: 100%;
          background-color: var(--calendar_cel_apply);
          z-index: 3;
          content: '';
        }
        &.--sun {
          background-color: var(--calendar_cel_sun);
        }
        &.--sat {
          background-color: var(--calendar_cel_sat);
        }
      }
      &.empty {
        color: var(--calendar_cel_empty);
        background-color: var(--calendar_cel_empty);
        .handle {
          display: none;
        }
      }
    }

    &__daily {
      display: block;
      position: relative;
      z-index: 3;
      font-size: 1.4rem;
      text-align: center;
    }
  }

  &-btn {
    width: 114px;
    height: 32px;
    margin-top: 23px;
    margin-left: auto;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      border-radius: 2rem;
      background-color: var(--calendar_btn_blue);
      color: #FFF;
      font-size: 1.4rem;
      @media (--large) {
        transition: all .3s ease-out;
        &:hover {
          opacity: .7;
        }
      }
      &.is--enable {
        pointer-events: none;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          width: 100%;
          height: 100%;
          background-color: rgba(#FFF, .5);
          content: "";
          pointer-events: none;
        }
      }
    }
  }
}
