/**
 * main.scss
 */

@media (--large) {

}
//end @media (--large)

@media (--mobile) {

}
//end @media (--mobile)

:root {
  --main_text: #707070;
  --bg_main: #F1EEE6;
  --calendar_border: #C1C0C0;
  --calendar_border_adjoin: #707070;
  --calendar_cel_empty: #F3F3F3;
  --calendar_cel_apply: #F7CCCC;
  --calendar_btn_blue: #51BCDA;
  --calendar_cel_sat: #CBF4FF;
  --calendar_cel_sun: #F7C9EC;
  --calendar_cel_satText: #00A6D3;
  --calendar_cel_sunText: #EF56CA;
}

main {
  padding-top: 50px;
  padding-bottom: 24px;
  background-color: var(--bg_main);
  color: var(--main_text);
}
